/*!
 * IU Search
 * @version v3.2.1
 * 2019-08-08
 */

@font-face {
  font-family: 'BentonSansRegular';
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-regular.ttf") format("type"), url("https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'BentonSansBold';
  src: url("https://fonts.iu.edu/fonts/benton-sans-bold.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-bold.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-bold.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-bold.ttf") format("type"), url("https://fonts.iu.edu/fonts/benton-sans-bold.svg#BentonSansBold") format("svg");
  font-style: normal;
  font-weight: normal;
}
body > table.gssb_c {
  position: fixed !important;
}

#search *,
#inline-search *,
#toggles * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div[id^=branding-bar],
section[id^=branding-bar],
#toggles {
  -webkit-transition: all 0.42s ease-in-out;
  -moz-transition: all 0.42s ease-in-out;
  transition: all 0.42s ease-in-out;
}

.search-open div[id^=branding-bar],
.search-open section[id^=branding-bar],
.search-open #toggles {
  margin-top: 50px;
}

#search,
#toggles {
  -webkit-font-smoothing: initial;
  -moz-font-smoothing: initial;
  font-smoothing: initial;
}

#search .row,
#toggles .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 64rem;
  position: relative;
}
#search .row:before, #search .row:after,
#toggles .row:before,
#toggles .row:after {
  content: " ";
  display: table;
}
#search .row:after,
#toggles .row:after {
  clear: both;
}
#search .row.pad,
#toggles .row.pad {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
}

#toggles {
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 11;
}
#toggles a.button {
  pointer-events: auto;
  background-color: #990000;
  color: #fff;
  font-family: BentonSansBold, Arial, sans-serif;
  font-weight: normal;
  line-height: 34px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 0 0.5rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: auto;
}
#toggles .button {
  float: none;
}
#toggles a.button:hover {
  color: #fff;
}
.touch #toggles a.button.hover {
  background-color: #fff !important;
  color: #990000 !important;
}
#toggles a.search-toggle {
  background-color: #990000;
  height: 34px;
  width: 34px;
  text-align: center;
  padding: 0;
  text-transform: none;
}
#toggles a.search-toggle:focus {
  box-shadow: none;
  outline: .125rem solid #fff;
  outline-offset: .125rem;
}
#toggles a.search-toggle img {
  width: 18px;
  height: 18px;
}
.search-open #toggles a.search-toggle img {
  width: 24px;
  height: 24px;
}

.images-off #toggles img,
.no-js #toggles img {
  width: auto !important;
  height: auto !important;
  line-height: 1;
}

#search {
  background-color: #990000;
  height: 45px;
  padding-top: 6px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  -webkit-transition: height 0.42s ease-in-out;
  -moz-transition: height 0.42s ease-in-out;
  transition: height 0.42s ease-in-out;
}
.search-open #search {
  height: 50px;
}

#search[aria-hidden=""] > .row {
  display: none;
}

#search[aria-hidden="false"] > .row {
  display: block;
}

#search .gsc-branding, #inline-search .gsc-branding, #off-canvas-search .gsc-branding {
  display: none;
}
#search .gsc-search-button + .gsc-clear-button, #inline-search .gsc-search-button + .gsc-clear-button, #off-canvas-search .gsc-search-button + .gsc-clear-button {
  display: none;
}

@media only screen and (min-width: 1025px) {
  #toggles {
    position: absolute;
    top: 5px;
  }

  #toggles a.button {
    display: none;
  }

  #toggles a.search-toggle {
    display: block;
    border-radius: 0;
    background-color: #7A1705;
    border-left: 1px solid #990000;
    border-right: 1px solid #990000;
    border-top: none;
    border-bottom: none;
    float: right;
    margin: 0;
    line-height: 44px;
    line-height: 52px;
    height: 52px;
    width: 42px;
    text-align: center;
  }
  #toggles a.search-toggle img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
  }
  #toggles a.search-toggle:hover, #toggles a.search-toggle:focus {
    color: #fff;
  }

  .search-open #toggles a.search-toggle img {
    width: 24px;
    height: 24px;
  }

  .search-open .is-sticky nav.main {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
  }

  #search {
    position: absolute;
    top: 0;
  }

  .has-sticky #search {
    position: fixed;
    top: 0;
  }

  #search {
    height: 56px;
    transform: translateY(-56px);
    transition: transform .42s;
    overflow: hidden;
  }

  .search-open #search {
    height: 56px;
    transform: translateY(0);
    transition: transform .42s;
  }

  div[id^=branding-bar],
  section[id^=branding-bar],
  #toggles {
    transition: margin-top .3s;
  }

  .search-open div[id^=branding-bar],
  .search-open section[id^=branding-bar],
  .search-open #toggles {
    margin-top: 50px;
    transition: margin-top .5s;
  }

  .search-open.has-sticky div[id^=branding-bar],
  .search-open.has-sticky section[id^=branding-bar] {
    margin-top: 0;
  }
}
/* Search Boxes */
.search-box table {
  margin-bottom: 0;
  background: none;
  border: none;
  table-layout: auto;
}
.search-box table tr th, .search-box table tr td {
  padding: 0;
}
.search-box table.gsc-search-box {
  margin: 0;
  background: none;
}
.search-box td.gsc-input {
  vertical-align: top;
  padding-right: 4px !important;
}
.search-box .gsc-input-box {
  border: 1px solid #EDEBEB;
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
}
.search-box .gsc-input-box > table {
  border-right: none;
}
.search-box .gsc-input-box ::-ms-clear {
  display: none;
}
.search-box .gsc-input-box.gsc-input-box-focus {
  box-shadow: none;
}
.search-box.no-script .gsc-input-box > table {
  width: 100% !important;
}
.search-box .gsst_a .gscb_a {
  color: #990000;
}
.search-box .gsc-input-box-hover .gsst_a .gscb_a {
  color: #7A1705;
}
.search-box input[type="text"] {
  margin-bottom: 0;
  box-shadow: none;
  line-height: 1 !important;
  height: 40px !important;
  padding-left: 8px !important;
  background-color: #fff !important;
  background-position: 8px center !important;
  margin: 0 !important;
}
.search-box .gsc-input {
  background-color: #fff;
}
.search-box input[type="text"]:focus {
  box-shadow: none;
}
.text .search-box .gsc-input-box a {
  background: none;
}
.search-box td.gsc-search-button {
  min-width: 80px !important;
}
.search-box button.gsc-search-button-v2 {
  border-radius: 5px;
  padding: 6px;
  background-color: #990000;
  background-image: none;
  margin-left: 6px;
  border: 2px solid #990000;
  height: 40px;
  font-size: 16px !important;
  color: #fff;
}
.search-box button.gsc-search-button-v2 svg {
  width: 20px;
  height: 20px;
  fill: #990000;
}
.search-box button.gsc-search-button-v2:hover,
.search-box button.gsc-search-button-v2:focus {
  cursor: pointer;
  border-color: #990000;
  background-color: #fff;
  color: #990000;
}
.search-box button.gsc-search-button-v2:focus {
  outline: .125rem solid #fff;
  outline-offset: .125rem;
}

#search.search-box button.gsc-search-button-v2 {
  border-color: #fff;
  background-color: #990000;
  color: #fff;
}
#search.search-box button.gsc-search-button-v2 svg {
  fill: #fff;
}
#search.search-box button.gsc-search-button-v2:hover,
#search.search-box button.gsc-search-button-v2:focus {
  border-color: #fff;
  color: #990000;
  background-color: #fff;
}
#search.search-box .gsc-input-box {
  border: none;
}

.right-off-canvas-menu .search-box .cse input.gsc-search-button,
.right-off-canvas-menu .search-box input.gsc-search-button {
  border: 1px solid #990000;
}

/* Results */
.search-results table {
  margin-bottom: 0;
  background: none;
  border: none;
}
.search-results table.gcsc-branding {
  width: auto;
}
.search-results .gsc-control-cse {
  padding: 0;
  font-family: BentonSansRegular, 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}
.search-results .gsc-selected-option-container {
  font-family: 'BentonSansBold', Arial, sans-serif;
  font-weight: normal;
  width: auto !important;
}
.search-results .gsc-option-menu-item-highlighted {
  background: #eee url("../../../ssl.gstatic.com/ui/v1/menu/checkmark2.png") no-repeat left center;
}
.search-results table.gsc-table-result {
  table-layout: initial;
  border-collapse: separate;
}
.search-results table.gsc-table-result td {
  padding: 0;
}
.search-results td.gsc-table-cell-thumbnail.gsc-thumbnail {
  width: 72px;
}
.search-results td.gsc-table-cell-thumbnail.gsc-thumbnail .gs-image-box {
  margin-right: 12px;
}
.search-results .gsc-results.gsc-webResult {
  padding-top: 16px;
}
.search-results .gsc-result .gs-title {
  height: auto;
  overflow: visible;
}
.search-results .gsc-control-cse,
.search-results .gsc-control-cse .gsc-table-result {
  font-family: BentonSansRegular, Arial, sans-serif;
  font-weight: normal;
}
.search-results .gsc-control-cse b,
.search-results .gsc-control-cse .gsc-table-result b,
.search-results .gsc-control-cse strong,
.search-results .gsc-control-cse .gsc-table-result strong,
.search-results .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.search-results .gs-promotion em {
  font-family: BentonSansBold, Arial, sans-serif;
  font-weight: normal;
}
.search-results .gs-result .gs-title,
.search-results .gs-result .gs-title *,
.search-results a,
.search-results a b,
.search-results a em,
.search-results .gsc-cursor-page {
  color: #006298 !important;
  background-color: transparent !important;
}
.search-results .gs-result a.gs-visibleUrl,
.search-results .gs-result .gs-visibleUrl {
  color: #80756E;
}
.search-results .gsc-webResult.gsc-result.gsc-promotion {
  border-color: transparent;
  background: #EDEBEB;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 12px;
}
.search-results .gs-promotion.gs-result table {
  border-collapse: initial;
}
.search-results .gs-promotion.gs-result .gs-promotion-image-cell {
  width: 60px;
}

.gsc-completion-container {
  border: none;
}
.gsc-completion-container table,
.gsc-completion-container table tbody,
.gsc-completion-container tbody tr:nth-child(even) {
  background-color: transparent !important;
}
.gsc-completion-container tbody td {
  padding-top: 3px;
  padding-bottom: 3px;
}
.gsc-completion-container tbody tr.gsc-completion-selected {
  background-color: #eee !important;
}
.gsc-completion-container tbody {
  border: none;
}
